body {
  background-color: #fafafa;
}

#page-title {
  display: block;
  font-size: 200%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-family: "Rampart One", sans-serif;
  text-align: center;
}

hr {
  width: 60%;
}

#instructions {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
  text-align: center;
  border: 1px solid black;
  background-color: lightgray;
}

/*----------------------Scores */

#score-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
}

#scores {
  display: inline-flex;
  align-items: center;
}

 #player-score, #computer-score {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  display: inline-block;
  box-shadow: 2px 2px;
  text-align: center;
  }

#player-score-p, #computer-score-p {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  }

#player, #computer {
  border: 1px solid black;
  margin: 2px;
  height: 20px;
  width: 80px;
  padding: 2px;
  background-color: grey;
  color: white;
  text-align: center;
}

#computer {
  margin-left: 4px;
}

/*----------------------Computer and Player Choices */

#choices-container {
  align-items: center;
  text-align: center;
  display:flex;
  flex-flow:row wrap;
  justify-content: center;
}

.choice {
  height: 350px;
  width: 350px;
  border: 1px solid black;
  background-color: lightgrey;
  margin: 5px;
  font-size: 3.5em;
  display: flex;
  justify-content: center;
}

/*----------------------Player Selection */

#selection-container {
  align-items: center;
  text-align: center;
}

.instruction-note {
  color: #e84610;
  font-weight: bold;
}

.selection {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  background-color: grey;
  margin: 5px;
  display: inline-flex;
  align-items: center;
  transition: 0.3s ease;
}

.selection:hover {
  border: 3px solid #e84610;
  background-color: lightgray;
  color: #e84610;
  transform: scale(1.5);
  -moz-transition: scale(1.5);
  -webkit-transition: scale(1.5);
  -o-transition: scale(1.5);
}

#rock, #paper, #scissors {
  color: rgb(223, 154, 70);
  font-size: 5em;
  margin: 0 auto;
}

/*----------------------JavaScript Applied Styles */

.js-scores {
  font-family: "Rampart One", sans-serif;
  font-size: 2em;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.js-pic-choice {
  align-items: center;
  font-size: 3.5em;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: rgb(223, 154, 70);
}

.js-end-game {
  font-family: "Rampart One", sans-serif;
  font-size: 2em;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  border: 5px solid #e84610;
  transform: scale(1.25);
  -moz-transition: scale(1.25);
  -webkit-transition: scale(1.25);
  -o-transition: scale(1.25);
}

.color-black {
  color: black;
  background-color: #fafafa;
}

.color-green {
  color: darkgreen;
  background-color: aquamarine;
}

.color-red {
  color: darkred;
  background-color: lightcoral;
}

/*----------------------Media Queries */

@media screen and (max-width: 460px) {
  #instructions {
    width: 66%;
    font-size: 0.5em;
  }

  #player-score, #computer-score {
    height: 25px;
    width: 25px;
  }

  #player, #computer {
    height: 10px;
    width: 50px;
    font-size: 0.6em;
  }

  .js-scores {
    font-size: 1em;
  }
  
  .choice {
    height: 90px;
    width: 90px;
  }

  .js-pic-choice {
    font-size: 1.5em;
  }

  .selection {
    height: 50px;
    width: 50px;
  }
  
  #rock, #paper, #scissors {
    font-size: 1.5em;
  }

  .js-end-game {
    font-size: 0.5em;
  }
}

/*
hr {
  width: 60%;
}

.scores {
  height: 50px;
  width: 40%;
  border: 1px solid black;
  margin: 5px;
  display: inline-flex;
}

.guess {
  height: 250px;
  width: 40%;
  border: 1px solid black;
  margin: 5px;
  display: inline-flex;
}



#instructions {
  border: 1px solid blue;
  width: 200px;
  height: 50px;
  background-color: lightblue;
  text-align: center;
}

#instructions:hover{
  border: 5px solid red;
  background-color: coral;
}