/*body {
  margin: auto;
}*/

#page-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-family: "Rampart One";
  text-align: center;
}

hr {
  width: 60%;
}

#instructions {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
  text-align: center;
}

/*----------------------Scores */

#score-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
}

#scores {
  display: inline-flex;
  align-items: center;
}

 #player-score, #computer-score {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  display: inline-block;
  box-shadow: 2px 2px;
  text-align: center;
  }

#player, #computer {
  border: 1px solid black;
  margin: 2px;
  height: 20px;
  width: 75px;
  background-color: grey;
  color: white;
  text-align: center;
}

#computer {
  margin-left: 4px;
}

/*----------------------Computer and Player Choices */

#choices-container {
  align-items: center;
  text-align: center;
}

.choice {
  height: 350px;
  width: 350px;
  border: 1px solid black;
  margin: 5px;
  display: inline-flex;
  align-items: center;
  font-size: 3em;
}

/*----------------------Player Selection */

#selection-container {
  align-items: center;
  text-align: center;
}

.selection {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  margin: 5px;
  display: inline-flex;
  align-items: center;
}

.selection:hover {
  border: 5px solid black;
}

#rock, #paper, #scissors {
  font-size: 5em;
  margin: 0 auto;
}

/*----------------------Media Queries */


/*
hr {
  width: 60%;
}

.scores {
  height: 50px;
  width: 40%;
  border: 1px solid black;
  margin: 5px;
  display: inline-flex;
}

.guess {
  height: 250px;
  width: 40%;
  border: 1px solid black;
  margin: 5px;
  display: inline-flex;
}



#instructions {
  border: 1px solid blue;
  width: 200px;
  height: 50px;
  background-color: lightblue;
  text-align: center;
}

#instructions:hover{
  border: 5px solid red;
  background-color: coral;
}